<aside id="sidebar" class="collapsed">
  <div class="menu-content">
    <p class="menu-header">MENU</p>

    <!-- <a class="menu-item active" data-page="display">
      <i class="fas fa-desktop"></i>
      <span class="menu-text">Display</span>
    </a> -->

    <a class="menu-item" data-page="poli">
      <i class="fas fa-hospital"></i>
      <span class="menu-text">Poli</span>
    </a>

    <!-- <a class="menu-item" data-page="petugas">
      <i class="fas fa-user-tie"></i>
      <span class="menu-text">Petugas</span>
    </a> -->

    
  </div>

  <div id="toggleBtn">
    <i class="fas fa-chevron-left"></i>
  </div>
</aside>
